notes.miikat.dev {
        reverse_proxy host.docker.internal:3000
}

hackupc.co {
  handle_path /grafana/* {
    reverse_proxy host.docker.internal:8080
  }
  handle_path /grafana {
    reverse_proxy host.docker.internal:8080
  }
  reverse_proxy thonkpad:3000
}
